.panel-heading {
  background-color: #4ac29a;
  border-color: #4ac29a;
  color: white;
}

.header-buttons {
  padding: 20px;
}

.header-buttons a {
  float: right;
}

.header-buttons .btn {
  color: #42ae8a;
  background-color: #fff;
  border: none;
  padding: 9px 14px;
  margin-left: 10px;
}

.header-buttons .btn:hover {
  background-color: whitesmoke;
}

td a {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}

tr {
  height: 60px;
}

td {
  vertical-align: middle;
}
