<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7">
        <h2>Collection</h2>
      </div>
      <div class="col-md-5 header-buttons">
      </div>
    </div>
  </div>

  <div class="panel-body">
      <p>Not Implemented</p>
  </div>
</div>
