<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">BestInShow</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>
        <ng-template [ngIf]="authService.isAuthenticated() && (authService.currentUser.role === 'owner' || authService.currentUser.role === 'breeder')">
          <li routerLinkActive="active"><a routerLink="/applications">Applications</a></li>
          <li routerLinkActive="active"><a routerLink="/dogs">Dogs</a></li>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated() && authService.currentUser.role === 'admin'">
          <li routerLinkActive="active"><a routerLink="/kennels">Kennels</a></li>
          <li routerLinkActive="active"><a routerLink="/dogs">Dogs</a></li>
          <li routerLinkActive="active"><a routerLink="/users">Users</a></li>
        </ng-template>

        <li routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"><a routerLink="/collection">Collection</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ng-template>

        <ng-template [ngIf]="authService.isAuthenticated()">
          <li routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"><a (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>
