nav {
  padding: 20px;
  background-color: #37726E;
  border-color: #37726E;
}

.navbar-default .navbar-nav > li > a {
  cursor: pointer;
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #4AC29A;
}

.navbar-brand {
  color: white;
  font-size: 24px;
}

.navbar-brand .active {
  color: white;
}

.navbar-brand:hover {
  color: #4AC29A;
}

.navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #4AC29A;
  background-color: #37726E;
}
