<div class="panel panel-default">
  <div class="panel-heading">
    <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Send new application</h2>
  </div>

  <div class="panel-body">
    <div class="well">
      <form class='form-horizontal' [formGroup]="newKennelAppForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="kennelname" class="col-md-3 control-label">Kennel name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="kennelname" formControlName="kennelname" placeholder="kennel name">
            <span *ngIf="!newKennelAppForm.get('kennelname').valid && newKennelAppForm.get('kennelname').touched" class="help-block">
            *Please enter a valid kennel name</span>
          </div>
        </div>

        <div class="form-group">
          <label for="address" class="col-md-3 control-label">Address</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="address" formControlName="address" placeholder="address">
            <span *ngIf="!newKennelAppForm.get('address').valid && newKennelAppForm.get('address').touched" class="help-block">
            *Please enter a valid address</span>
          </div>
        </div>

        <div class="form-group">
          <label for="breed" class="col-md-3 control-label">Breed</label>
          <div class="col-md-9">
            <select class="form-control" id="breed" formControlName="breed">
              <option *ngFor="let breed of breeds" [value]="breed.breedId">{{ breed.breedNameEng }}</option>
            </select>
            <span *ngIf="!newKennelAppForm.get('breed').valid && newKennelAppForm.get('breed').touched" class="help-block">
          *Please select a breed for your kennel
        </span>
          </div>
        </div>

        <div *ngIf="this.user.role === 'admin'" class="form-group">
          <label for="breeder" class="col-md-3 control-label">Breeder</label>
          <div class="col-md-9">
            <select class="form-control" id="breeder" formControlName="breeder">
              <option *ngFor="let user of users" [value]="user.userName">{{ user.firstName }} {{ user.lastName }}</option>
            </select>
            <span *ngIf="!newKennelAppForm.get('breeder').valid && newKennelAppForm.get('breeder').touched" class="help-block">
          *Please select a breeder for your kennel
        </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <span *ngIf="isError && newKennelAppForm.get('kennelname').untouched">
              <div class="alert alert-danger" role="alert">{{ alertMessage }}</div>
            </span>
          </div>
          <div class="col-md-offset-3 col-md-9" id="buttons">
            <button *ngIf="user.role !== 'admin'" type="submit" class="btn btn-primary" [disabled]="!newKennelAppForm.valid">Send application</button>
            <button *ngIf="user.role === 'admin'" type="submit" class="btn btn-primary" [disabled]="!newKennelAppForm.valid">Add kennel</button>
            <button class="btn btn-default" (click)="onCancel()">Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
