<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Add new litter</h2>
  </div>

  <div class="panel-body">
    <div class="well">
      <form class='form-horizontal' [formGroup]="newLitterForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="littername" class="col-md-3 control-label">Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="littername" formControlName="littername" placeholder="litter name">
            <span *ngIf="!newLitterForm.get('littername').valid && newLitterForm.get('littername').touched" class="help-block">
            *Please enter a valid litter name</span>
          </div>
        </div>

        <div class="form-group">
          <label for="birthDate" class="col-md-3 control-label">Birth date</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="birthDate" formControlName="birthDate" placeholder="Pick a date"
                   #dpFull="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a' }">
            <span *ngIf="!newLitterForm.get('birthDate').valid && newLitterForm.get('birthDate').touched" class="help-block">
            *Please select a  date</span>
          </div>
        </div>

        <div class="form-group">
          <label for="mother" class="col-md-3 control-label">Mother</label>
          <div class="col-md-9">
            <select class="form-control" id="mother" formControlName="mother">
              <option *ngFor="let dog of femaleDogs" [value]="dog.dogId">{{ dog.name }}</option>
            </select>
            <span *ngIf="!newLitterForm.get('mother').valid && newLitterForm.get('mother').touched" class="help-block">
          *Please select a mother for the litter
        </span>
          </div>
        </div>

        <div class="form-group">
          <label for="father" class="col-md-3 control-label">Father</label>
          <div class="col-md-9">
            <select class="form-control" id="father" formControlName="father">
              <option *ngFor="let dog of maleDogs" [value]="dog.dogId">{{ dog.name }}</option>
            </select>
            <span *ngIf="!newLitterForm.get('father').valid && newLitterForm.get('father').touched" class="help-block">
          *Please select a father for the litter
        </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <span *ngIf="isError && newLitterForm.get('littername').untouched">
              <div class="alert alert-danger" role="alert">{{ alertMessage }}</div>
            </span>
          </div>
          <div class="col-md-offset-3 col-md-9" id="buttons">
            <button type="submit" class="btn btn-primary" [disabled]="!newLitterForm.valid">Add litter</button>
            <button class="btn btn-default" (click)="onCancel()">Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
