<div class="panel panel-default">
  <div class="panel-heading">
    <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit user</h2>
  </div>

  <div class="panel-body">
    <div class="well">
    <form class='form-horizontal' [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username" class="col-md-3 control-label">Username</label>
        <div class="col-md-9">
          <input type="email" class="form-control" id="username" formControlName="username" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="firstname" class="col-md-3 control-label">Firstname</label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="firstname" formControlName="firstname">
        <span *ngIf="!editForm.get('firstname').valid && editForm.get('firstname').touched" class="help-block">
            *Please enter a valid first name</span>
        </div>
      </div>

      <div class="form-group">
        <label for="lastname" class="col-md-3 control-label">Lastname</label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="lastname" formControlName="lastname">
        <span *ngIf="!editForm.get('lastname').valid && editForm.get('lastname').touched" class="help-block">
            *Please enter a valid last name</span>
        </div>
      </div>

      <div class="form-group">
        <label for="code" class="col-md-3 control-label">Code</label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="code" formControlName="code" readonly>
      </div>
      </div>

      <div class="form-group">
        <label for="role" class="col-md-3 control-label">Role</label>
        <div class="col-md-9">
          <select class="form-control" id="role" formControlName="role">
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <span *ngIf="isError && editForm.get('firstname').untouched">
          <div class="alert alert-danger" role="alert">{{ alertMessage }}</div>
        </span>
        <div class="col-md-offset-3 col-md-9" id="buttons">
          <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Save changes</button>
          <button class="btn btn-default" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
    </div>
  </div>
</div>
