.column1 {
  min-width: 200px;
  vertical-align: middle;
  text-align: right;
  padding: 20px;
}

.column2 {
  width: 100%;
  padding: 20px;
}

h2 {
  margin-left: 5px;
}

button {
  margin-right: 10px;
}

.well {
  width: 75%;
  margin: auto;
  background-color: whitesmoke;
  border: 1px solid #B6E6D6;
}

form {
  padding: 30px;
}

.form-group {
  padding: 10px;
  margin: 10px;
}

.form-control {
  height: 40px;
  width: 80%;
}

.panel-heading {
  text-align: center;
  background-color: whitesmoke;
  border-color: lightgray;
  color: #4ac29a;
}
.panel-body {
  padding: 40px;
  background-color: #ecf8f4;
}

.btn-primary {
  background-color: #4ac29a;
  border-color: #4ac29a;
}

.btn-primary:hover {
  background-color: #42ae8a;
  border-color: #42ae8a;
}

.btn-default {
  color: #4ac29a;
  border-color: #4ac29a;
}

.btn-default:hover {
  background-color: #f5fbf9;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: red;
}


