<div class="panel panel-default">
<div class="panel-heading">
  <div class="row">
    <div class="col-md-7">
      <h2 *ngIf="currentUser.role !== 'admin'">Litters in kennel {{kennel.name}}</h2>
      <h2 *ngIf="currentUser.role === 'admin'">Litters</h2>
    </div>
    <div class="col-md-5 header-buttons">
      <a (click)="onAddNew()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        Add New Litter</a>
    </div>
  </div>
</div>

<div class="panel-body">
  <table *ngIf="currentUser.role !== 'admin'" class="table table-striped table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Litter name</th>
      <th>Birth time</th>
      <th>Mother</th>
      <th>Father</th>
      <th>Action</th>
    </tr>
    </thead>

    <tr *ngIf="!hasDogs">
      <td><em>Your kennel has no litters</em></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr *ngFor="let litter of litters; let i = index">
      <td>{{i + 1 }}</td>
      <td>{{litter.litterName | titlecase }}</td>
      <td>{{litter.litterBirthTime | date: 'longDate'}}</td>
      <td>{{litter.motherDogId}}</td>
      <td>{{litter.fatherDogId }}</td>
      <td>
        <a class="info" tooltip="Details" (click)="onDetails(litter.litterId)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
        <a class="edit" tooltip="Edit" (click)="onEdit(litter.litterId)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
      </td>
    </tr>
  </table>

</div>
</div>

