<span *ngIf="alertMessage">
  <alert type="success" dismissible="true" (onClosed)="onClosedAlert()"><strong>Well done!</strong> {{ alertMessage }}</alert>
</span>

<ng-template #template>
  <div class="modal-header">
    <h3 class="modal-title pull-right pull-left">Wait!</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want activate or deactivate user?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
    <button class="btn btn-danger" (click)="onChangeStatus()">Confirm</button>
  </div>
</ng-template>

<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7">
        <h2>User Management</h2>
      </div>
      <div class="col-md-5 header-buttons">
        <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          User statistics</a>
        <a (click)="onAddNew()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          Add New User</a>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Username</th>
        <th>Code</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>

      <tr *ngFor="let user of users; let i = index">
        <td>{{i + 1 }}</td>
        <td>{{user.firstName | titlecase}} {{user.lastName | titlecase}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.code}}</td>
        <td>{{user.role | titlecase }}</td>
        <td *ngIf="user.status === 0"><span class="status text-success"><i class="fas fa-circle"></i></span> Active </td>
        <td *ngIf="user.status === 1"><span class="status text-danger"><i class="fas fa-circle"></i></span> Deactive </td>
        <td>
          <a class="edit" tooltip="Edit" (click)="onEditUser(i)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
          <a *ngIf="user.status === 0" class="deactivate" tooltip="Deactivate" (click)="openModal(template, user)"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
          <a *ngIf="user.status === 1" class="activate" tooltip="Activate" (click)="openModal(template, user)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
        </td>
      </tr>

    </table>
  </div>
</div>
