<div class="panel panel-default">
  <div class="panel-heading">
    <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add new user</h2>
  </div>

  <div class="panel-body">
    <div class="well">
      <form class='form-horizontal' [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username" class="col-md-3 control-label">Username</label>
          <div class="col-md-9">
            <input type="email" class="form-control" id="username" formControlName="username" placeholder="email">
            <span *ngIf="!newUserForm.get('username').valid && newUserForm.get('username').touched" class="help-block">
            *Please enter a valid username/email</span>
          </div>
        </div>

        <div class="form-group">
          <label for="firstname" class="col-md-3 control-label">Firstname</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="firstname">
            <span *ngIf="!newUserForm.get('firstname').valid && newUserForm.get('firstname').touched" class="help-block">
            *Please enter a valid first name</span>
          </div>
        </div>

        <div class="form-group">
          <label for="lastname" class="col-md-3 control-label">Lastname</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="lastname">
            <span *ngIf="!newUserForm.get('lastname').valid && newUserForm.get('lastname').touched" class="help-block">
            *Please enter a valid last name</span>
          </div>
        </div>

        <div class="form-group">
          <label for="code" class="col-md-3 control-label">Code</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="code" formControlName="code" placeholder="personal code">
            <span *ngIf="!newUserForm.get('code').valid && newUserForm.get('code').touched" class="help-block">
            *Please enter a valid code</span>
          </div>
        </div>

        <div class="form-group">
          <label for="role" class="col-md-3 control-label">Role</label>
          <div class="col-md-9">
            <select class="form-control" id="role" formControlName="role">
              <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>
            <span *ngIf="!newUserForm.get('role').valid && newUserForm.get('role').touched" class="help-block">
          *Please select a role
        </span>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-md-3 control-label">Password</label>
          <div class="col-md-9">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="password">
            <span *ngIf="!newUserForm.get('password').valid && newUserForm.get('password').touched" class="help-block">
          *Please enter a valid password
        </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <span *ngIf="isError && newUserForm.get('firstname').untouched">
              <div class="alert alert-danger" role="alert">{{ alertMessage }}</div>
            </span>
          </div>
          <div class="col-md-offset-3 col-md-9" id="buttons">
            <button type="submit" class="btn btn-primary" [disabled]="!newUserForm.valid">Add user</button>
            <button class="btn btn-default" (click)="onCancel()">Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
