.row {
  text-align: center;
  color: white;
}

h1 {
  font-size: 60px;
}

p {
  margin: 40px;
}

button {
  margin: 20px;
  width: 20%;
}

#signup-btn {
  background-color: #4AC29A;
  color: white;
  border-color: #4AC29A;
}

#signup-btn:hover {
  opacity: 0.75;
}

#login-btn {
  color: #4AC29A;
  border-color: #4AC29A;
}

#login-btn:hover {
  background-color: azure;
}


