<ng-template [ngIf]="authService.isAuthenticated()">
  <div class="row">
    <div class="col-md-12">
      <h1>You are logged in!</h1>
      <h2>Hello user: <span *ngIf="currentUser !== null">{{ currentUser.firstName }}</span></h2>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="!authService.isAuthenticated()">
<div class="row">
  <div class="col-md-12">
    <h1><i class="fas fa-trophy"></i></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Welcome to BestInShow!</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed posuere magna. Phasellus ligula ligula,
      auctor non maximus id, fringilla ultrices augue. Maecenas sagittis volutpat ipsum eget auctor. Mauris at libero
      eget libero cursus malesuada. </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-default btn-lg" id="signup-btn" routerLink="/signup">Sign up!</button>
    <button class="btn btn-default btn-lg" id="login-btn" routerLink="/login">Login</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>Or browse our collection of kennels and dogs <a href="#">here!</a></p>
  </div>
</div>
</ng-template>

