<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12"><h2>LOGIN <span class="glyphicon glyphicon-log-in"></span></h2></div>
        </div>
      </div>
      <div class="panel-body">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="email" class="form-control" id="username" formControlName="username"
                 placeholder="Email">
        </div>
        <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched" class="help-block">
          Please enter a valid username
        </span>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" placeholder="Password" class="form-control" id="password" formControlName="password">
        </div>
        <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="help-block">
          Please enter a valid password
        </span>
      </div>


      <div class="form-group">
        <span *ngIf="isError && loginForm.get('username').untouched" id="successtext">
          <div class="alert alert-danger" role="alert">{{ alertMessage }}</div>
        </span>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="!loginForm.valid"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Login</button>
      </div>
    </form>
        <hr>
        <p>Don't have an account? <a routerLink="/signup">Sign up here!</a></p>
      </div>
    </div>
  </div>
</div>
