input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: red;
}

h2 {
  text-align: center;
  color: gray;
}

.panel-heading {
  padding: 10px;
  background-color: whitesmoke;
  opacity: 0.75;
}

.input-group-addon {
  background-color: whitesmoke;
  opacity: 0.75;
  color: #4ac29a;
}

.btn-primary {
  background-color: #4ac29a;
  border-color: #4ac29a;
}

.btn-primary:hover {
  background-color: #42ae8a;
  border-color: #42ae8a;
}

#successtext {
  color: green;
}
