<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12"><h2>Create an account  <span class="glyphicon glyphicon-pencil"></span></h2></div>
        </div>
      </div>

      <div class="panel-body">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="firstname">
          </div>
          <span *ngIf="!signupForm.get('firstname').valid && signupForm.get('firstname').touched" class="help-block">
            Please enter a valid first name</span>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="lastname">
          </div>
          <span *ngIf="!signupForm.get('lastname').valid && signupForm.get('lastname').touched" class="help-block">
            Please enter a valid last name</span>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" id="code" formControlName="code" placeholder="personal code">
          </div>
          <span *ngIf="!signupForm.get('code').valid && signupForm.get('code').touched" class="help-block">
            Please enter a valid code</span>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="email" class="form-control" id="username" formControlName="username" placeholder="email">
          </div>
          <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" class="help-block">
          Please enter a valid email
        </span>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="password">
          </div>
          <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" class="help-block">
          Please enter a valid password
        </span>
      </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" id="passwordconfirm" formControlName="passwordconfirm" placeholder="password">
          </div>
          <span *ngIf="!signupForm.get('passwordconfirm').valid && signupForm.get('passwordconfirm').touched" class="help-block">
          Please enter a valid password
        </span>
          <span *ngIf="signupForm.hasError('passwordsdontmatch')" class="help-block">
            Passwords should match
          </span>
        </div>
        <div class="form-group">
          <span *ngIf="signupSuccess && signupForm.get('firstname').untouched" id="successtext">
          <div class="alert" [ngClass]="{'alert-success': !isError, 'alert-danger': isError }" role="alert">{{ alertMessage }}</div>
        </span>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="!signupForm.valid"><span class="glyphicon glyphicon-pencil"></span> Sign Up</button>
        </div>
      </form>
        <hr>
        <p>Already have an account? <a routerLink="/login">Log in here!</a></p>
      </div>
    </div>
  </div>
</div>
