<span *ngIf="alertMessage">
  <alert type="success" dismissible="true" (onClosed)="onClosedAlert()"><strong>Well done!</strong> {{ alertMessage }}</alert>
</span>

<!--<ng-template #template>-->
<!--<div class="modal-header">-->
<!--<h3 class="modal-title pull-right pull-left">Wait!</h3>-->
<!--<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<form [formGroup]="editForm">-->
<!--<div class="form-group">-->
<!--<label for="owner" class="col-md-3 control-label">New owner</label>-->
<!--<select class="form-control" id="owner" formControlName="owner">-->
<!--<option *ngFor="let user of users" [value]="user.userName">{{ user.firstName }} {{ user.lastName }}</option>-->
<!--</select>-->
<!--<span *ngIf="!editForm.get('owner').valid && editForm.get('owner').touched" class="help-block">-->
<!--*Please select a new owner for the kennel-->
<!--</span>-->
<!--</div>-->
<!--</form>-->
<!--<p>Are you sure you want to give the ownership to a new person?</p>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button class="btn btn-default" (click)="modalRef.hide()">Cancel</button>-->
<!--<button class="btn btn-danger" (click)="onAccept()">Confirm</button>-->
<!--</div>-->
<!--</ng-template>-->

<ng-template #template>
  <div class="modal-header">
    <h3 class="modal-title pull-right pull-left">Wait!</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
<form [formGroup]="editForm">
<div class="form-group">
<label for="owner" class="col-md-3 control-label">New owner</label>
  <input type="text" class="form-control" id="owner" formControlName="owner" placeholder="owner username">
  <span *ngIf="!editForm.get('owner').valid && editForm.get('owner').touched" class="help-block">
  *Please add a new owner username
</span>
</div>
</form>
<p>Are you sure you want to give the ownership to a new person?</p>
</div>
<div class="modal-footer">
<button class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
<button class="btn btn-danger" (click)="onAccept()">Confirm</button>
</div>
</ng-template>

<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7">
        <h2 *ngIf="currentUser.role !== 'admin'">My dogs</h2>
        <h2 *ngIf="currentUser.role === 'admin'">Dogs</h2>
      </div>
      <div class="col-md-5 header-buttons">
        <a *ngIf="currentUser.role !== 'owner'" (click)="onAddNew()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          Add New Dog</a>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <table *ngIf="currentUser.role !== 'admin'" class="table table-striped table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Dog name</th>
        <th>EstMicrochip</th>
        <th>Gender</th>
        <th>Date of birth</th>
        <th>Breed</th>
        <th *ngIf="currentUser.role === 'admin'">Owner</th>
        <th>Action</th>
      </tr>
      </thead>

      <tr *ngIf="!hasDogs">
        <td><em>You have no dogs</em></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr *ngFor="let dog of dogs; let i = index">
        <td>{{i + 1 }}</td>
        <td>{{dog.name | titlecase }}</td>
        <td>{{dog.estMicrochip}}</td>
        <td>{{dog.dogGender}}</td>
        <td>{{dog.dogDateOfBirth | date: 'longDate'}}</td>
        <td>{{dog.breed.breedNameEng | titlecase }}</td>
        <td *ngIf="currentUser.role === 'admin'">{{dog.ownerName }}</td>
        <td>
          <a class="info" tooltip="Details" (click)="onDetailsDog(dog.dogId)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
          <a class="edit" tooltip="Edit" (click)="onEditDog(dog.dogId)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
          <a class="deactivate" (click)="openModal(template, dog)" tooltip="Hand over ownership"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
        </td>
      </tr>
    </table>

    <accordion *ngIf="currentUser.role === 'admin'" [closeOthers]="oneAtATime">
      <accordion-group *ngFor="let userDog of userDogs; let i = index" heading="Owner: {{ userDog.user.firstName }} {{ userDog.user.lastName }}">
        <table *ngIf="userDog.dogs !== null" class="table table-striped table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Dog name</th>
            <th>EstMicrochip</th>
            <th>Gender</th>
            <th>Date of birth</th>
            <th>Breed</th>
            <th>Action</th>
          </tr>
          </thead>

          <tr *ngFor="let dog of userDog.dogs; let i = index">
            <td>{{i + 1 }}</td>
            <td>{{dog.name | titlecase }}</td>
            <td>{{dog.estMicrochip}}</td>
            <td>{{dog.dogGender}}</td>
            <td>{{dog.dogDateOfBirth | date: 'longDate'}}</td>
            <td>{{dog.breed.breedNameEng | titlecase }}</td>
            <td>
              <a class="info" tooltip="Details" (click)="onDetailsDog(dog.dogId)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
              <a class="edit" tooltip="Edit" (click)="onEditDog(dog.dogId)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
              <a class="deactivate" (click)="openModal(template, dog)" tooltip="Hand over ownership"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
            </td>
          </tr>
        </table>
      </accordion-group>
    </accordion>
  </div>
</div>
