.panel-heading {
  background-color: #4ac29a;
  border-color: #4ac29a;
  color: white;
}

.header-buttons {
  padding: 20px;
}

.header-buttons a {
  float: right;
}

.header-buttons .btn {
  color: #42ae8a;
  background-color: #fff;
  border: none;
  padding: 9px 14px;
  margin-left: 10px;
}

.header-buttons .btn:hover {
  background-color: whitesmoke;
}

td a {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}

tr {
  height: 60px;
}

td {
  vertical-align: middle;
}

.text-success, .info {
  color: #10c469;
}
.text-info, .edit {
  color: #62c9e8;
}
.text-warning {
  color: #FFC107;
}
.text-danger, .deactivate {
  color: #ff5b5b;
}

.modal-header {
  background-color: #f9f2f4;
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: red;
}
