<div class="panel panel-default">
  <div class="panel-heading">
    <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit kennel</h2>
  </div>

  <div class="panel-body">
    <div class="well" *ngIf="editForm">
      <form class='form-horizontal' [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="kennelname" class="col-md-3 control-label">Kennel name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="kennelname" formControlName="kennelname" />
            <span *ngIf="!editForm.get('kennelname').valid && editForm.get('kennelname').touched" class="help-block">
            *Please enter a valid kennel name</span>
          </div>
        </div>

        <div class="form-group">
          <label for="address" class="col-md-3 control-label">Address</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="address" formControlName="address" />
            <span *ngIf="!editForm.get('address').valid && editForm.get('address').touched" class="help-block">
            *Please enter a valid address</span>
          </div>
        </div>

        <div class="form-group">
          <label for="breed" class="col-md-3 control-label">Breed</label>
          <div class="col-md-9">
            <select class="form-control" id="breed" formControlName="breed">
              <option *ngFor="let breed of breeds" [value]="breed.breedNameEng">{{ breed.breedNameEng }}</option>
            </select>
            <span *ngIf="!editForm.get('breed').valid && editForm.get('breed').touched" class="help-block">
          *Please select a breed for the kennel
        </span>
          </div>
        </div>

        <div class="form-group">
          <label for="breeder" class="col-md-3 control-label">Breeder</label>
          <div class="col-md-9">
            <select class="form-control" id="breeder" formControlName="breeder">
              <option *ngFor="let user of users" [value]="user.userName">{{ user.firstName }} {{ user.lastName }}</option>
            </select>
            <span *ngIf="!editForm.get('breeder').valid && editForm.get('breeder').touched" class="help-block">
          *Please select a breeder for the kennel
        </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <span *ngIf="isError && editForm.get('kennelname').untouched">
              <div class="alert alert-danger" role="alert">{{ alertMessage }}</div>
            </span>
          </div>
          <div class="col-md-offset-3 col-md-9" id="buttons">
            <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Edit kennel</button>
            <button class="btn btn-default" (click)="onCancel()">Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
