<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Add new dog</h2>
  </div>

  <div class="panel-body">
    <div class="well">
      <form class='form-horizontal' [formGroup]="newDogForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="dogname" class="col-md-3 control-label">Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="dogname" formControlName="dogname" placeholder="dog name">
            <span *ngIf="!newDogForm.get('dogname').valid && newDogForm.get('dogname').touched" class="help-block">
            *Please enter a valid dog name</span>
          </div>
        </div>

        <div class="form-group">
          <label for="estMicrochip" class="col-md-3 control-label">EstMicrochip</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="estMicrochip" formControlName="estMicrochip" placeholder="estMicrochip">
            <span *ngIf="!newDogForm.get('estMicrochip').valid && newDogForm.get('estMicrochip').touched" class="help-block">
            *Please enter a valid chip number</span>
          </div>
        </div>

        <div class="form-group">
          <label for="otherChip" class="col-md-3 control-label">Other Chip</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="otherChip" formControlName="otherChip" placeholder="estMicrochip">
            <span *ngIf="!newDogForm.get('otherChip').valid && newDogForm.get('otherChip').touched" class="help-block">
            *Please enter a valid chip number</span>
          </div>
        </div>

        <div class="form-group">
          <label for="doggender" class="col-md-3 control-label">Gender</label>
          <div class="col-md-9">
            <select class="form-control" id="doggender" formControlName="doggender">
              <option *ngFor="let gender of genders" [value]="gender">{{ gender}}</option>
            </select>
            <span *ngIf="!newDogForm.get('doggender').valid && newDogForm.get('doggender').touched" class="help-block">
              *Please select a gender</span>
          </div>
        </div>

        <div class="form-group">
          <label for="color" class="col-md-3 control-label">Color</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="color" formControlName="color" placeholder="color">
            <span *ngIf="!newDogForm.get('color').valid && newDogForm.get('color').touched" class="help-block">
            *Please enter a color</span>
          </div>
        </div>

        <div class="form-group">
          <label for="eyecolor" class="col-md-3 control-label">Eye color</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="eyecolor" formControlName="eyecolor" placeholder="eye color">
            <span *ngIf="!newDogForm.get('eyecolor').valid && newDogForm.get('eyecolor').touched" class="help-block">
            *Please enter a eye color</span>
          </div>
        </div>

        <div class="form-group">
          <label for="birthDate" class="col-md-3 control-label">Birth date</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="birthDate" formControlName="birthDate" placeholder="Pick a date"
                   #dpFull="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a' }">
            <span *ngIf="!newDogForm.get('birthDate').valid && newDogForm.get('birthDate').touched" class="help-block">
            *Please select a  date</span>
          </div>
        </div>

        <div class="form-group">
          <label for="breed" class="col-md-3 control-label">Breed</label>
          <div class="col-md-9">
            <select class="form-control" id="breed" formControlName="breed">
              <option *ngFor="let breed of breeds" [value]="breed.breedId">{{ breed.breedNameEng }}</option>
            </select>
            <span *ngIf="!newDogForm.get('breed').valid && newDogForm.get('breed').touched" class="help-block">
          *Please select a breed for your dog
        </span>
          </div>
        </div>

        <div *ngIf="currentUser.role === 'admin'" class="form-group">
          <label for="owner" class="col-md-3 control-label">Owner</label>
          <div class="col-md-9">
            <select class="form-control" id="owner" formControlName="owner">
              <option *ngFor="let user of users" [value]="user.userName">{{ user.firstName }} {{ user.lastName }}</option>
            </select>
            <span *ngIf="!newDogForm.get('owner').valid && newDogForm.get('owner').touched" class="help-block">
          *Please select a owner for the dog
        </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <span *ngIf="isError && newDogForm.get('kennelname').untouched">
              <div class="alert alert-danger" role="alert">{{ alertMessage }}</div>
            </span>
          </div>
          <div class="col-md-offset-3 col-md-9" id="buttons">
            <button type="submit" class="btn btn-primary" [disabled]="!newDogForm.valid">Add dog</button>
            <button class="btn btn-default" (click)="onCancel()">Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

