<div class="panel panel-default">
  <div class="panel-heading">
    <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit dog</h2>
  </div>

  <div class="panel-body">
    <div class="well" *ngIf="editForm">
      <form class='form-horizontal' [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="dogname" class="col-md-3 control-label">Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="dogname" formControlName="dogname"
                   [readonly]="currentUser.role !== 'admin'">
            <span *ngIf="!editForm.get('dogname').valid && editForm.get('dogname').touched" class="help-block">
            *Please enter a valid dog name</span>
          </div>
        </div>

        <div class="form-group">
          <label for="estMicrochip" class="col-md-3 control-label">EstMicrochip</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="estMicrochip" formControlName="estMicrochip" [readonly]="currentUser.role !== 'admin'">
            <span *ngIf="!editForm.get('estMicrochip').valid && editForm.get('estMicrochip').touched" class="help-block">
            *Please enter a valid chip number</span>
          </div>
        </div>

        <div class="form-group">
          <label for="otherChip" class="col-md-3 control-label">Other Chip</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="otherChip" formControlName="otherChip" [readonly]="currentUser.role !== 'admin'">
            <span *ngIf="!editForm.get('otherChip').valid && editForm.get('otherChip').touched" class="help-block">
            *Please enter a valid chip number</span>
          </div>
        </div>

        <div class="form-group">
          <label for="doggender" class="col-md-3 control-label">Gender</label>
          <div class="col-md-9">
            <input *ngIf="currentUser.role !== 'admin'" type="text" class="form-control" id="doggender" formControlName="doggender" readonly>
            <select *ngIf="currentUser.role === 'admin'" class="form-control" id="doggender" formControlName="doggender">
              <option *ngFor="let gender of genders" [value]="gender">{{ gender}}</option>
            </select>
            <span *ngIf="!editForm.get('doggender').valid && editForm.get('doggender').touched" class="help-block">
              *Please select a gender</span>
        </div>
        </div>

        <div class="form-group">
          <label for="color" class="col-md-3 control-label">Color</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="color" formControlName="color" placeholder="color">
            <span *ngIf="!editForm.get('color').valid && editForm.get('color').touched" class="help-block">
            *Please enter a color</span>
          </div>
        </div>

        <div class="form-group">
          <label for="eyecolor" class="col-md-3 control-label">Eye color</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="eyecolor" formControlName="eyecolor" placeholder="eye color">
            <span *ngIf="!editForm.get('eyecolor').valid && editForm.get('eyecolor').touched" class="help-block">
            *Please enter a eye color</span>
          </div>
        </div>

        <div class="form-group">
          <label for="birthDate" class="col-md-3 control-label">Birth date</label>
          <div class="col-md-9">
            <input *ngIf="currentUser.role !== 'admin'" type="text" class="form-control" id="birthDate" formControlName="birthDate" readonly
            [value]="this.editForm.get('birthDate').value | date: 'medium'">
            <input *ngIf="currentUser.role === 'admin'" type="text" class="form-control" id="birthDate" formControlName="birthDate" placeholder="Pick a date"
                   #dpFull="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a' }"
                   [value]="editForm.get('birthDate').value | date: 'MMMM Do YYYY, h:mm:ss a'">
            <span *ngIf="!editForm.get('birthDate').valid && editForm.get('birthDate').touched" class="help-block">
            *Please select a  date</span>
          </div>
        </div>

          <div class="form-group">
            <label for="deathDate" class="col-md-3 control-label">Death date</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="deathDate" formControlName="deathDate" placeholder="Pick a date"
                     #dpFull="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a' }"
                     [value]="editForm.get('deathDate').value | date: 'MMMM Do YYYY, h:mm:ss a'">
              <span *ngIf="!editForm.get('deathDate').valid && editForm.get('deathDate').touched" class="help-block">
            *Please select a  date</span>
            </div>
          </div>

        <div class="form-group">
          <label for="breed" class="col-md-3 control-label">Breed</label>
          <div class="col-md-9">
            <input *ngIf="currentUser.role !== 'admin'" type="text" class="form-control" id="breed" formControlName="breed" [readonly]>
            <select *ngIf="currentUser.role === 'admin'" class="form-control" id="breed" formControlName="breed">
              <option *ngFor="let breed of breeds" [value]="breed.breedId">{{ breed.breedNameEng }}</option>
            </select>
            <span *ngIf="!editForm.get('breed').valid && editForm.get('breed').touched" class="help-block">
          *Please select a breed for the dog
        </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <span *ngIf="isError && editForm.get('dogname').untouched">
              <div class="alert alert-danger" role="alert">{{ alertMessage }}</div>
            </span>
          </div>
          <div class="col-md-offset-3 col-md-9" id="buttons">
            <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Edit dog</button>
            <button class="btn btn-default" (click)="onCancel()">Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
