<ng-template #template1>
  <div class="modal-header">
    <h3 class="modal-title pull-right pull-left">Wait!</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want accept application?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
    <button class="btn btn-danger" (click)="onAccept()">Confirm</button>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header">
    <h3 class="modal-title pull-right pull-left">Wait!</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want reject application?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
    <button class="btn btn-danger" (click)="onReject()">Confirm</button>
  </div>
</ng-template>

<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7">
        <h2>Applications</h2>
      </div>
      <div *ngIf="user.role !== 'admin'" class="col-md-5 header-buttons">
        <a (click)="onAddNew()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          Add New Application</a>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Kennel Name</th>
        <th>Kennel Address</th>
        <th>Breed</th>
        <th *ngIf="user.role === 'admin'">Breeder</th>
        <th>Status</th>
        <th *ngIf="user.role === 'admin'">Action</th>
      </tr>
      </thead>

        <tr *ngIf="!hasApplications">
          <td><em>You have no pending applications</em></td>
          <td></td>
          <td></td>
          <td></td>
          <td *ngIf="user.role === 'admin'"></td>
          <td></td>
          <td *ngIf="user.role === 'admin'"></td>
        </tr>

        <tr
          *ngFor="let application of applications; let i = index">
          <td>{{i + 1 }}</td>
          <td>{{application.name | titlecase}}</td>
          <td>{{application.address}}</td>
          <td>{{application.breeds[0].breedNameEng}}</td>
          <td *ngIf="user.role === 'admin'"> {{ application.user }}</td>
          <td *ngIf="application.status === 0"><span class="status text-info"><em>Waiting for acceptance</em></span></td>
          <td *ngIf="application.status === 2"><span class="status text-danger"><em>Rejected</em></span></td>
          <td *ngIf="user.role === 'admin'">
            <button id="accept" type=button class="btn btn-success" (click)="openModal(template1, application)">Accept</button>
            <button type=button class="btn btn-danger" (click)="openModal(template2, application)">Reject</button>
          </td>
        </tr>


    </table>
  </div>
</div>
