<span *ngIf="alertMessage">
  <alert type="success" dismissible="true" (onClosed)="onClosedAlert()"><strong>Well done!</strong> {{ alertMessage }}</alert>
</span>

<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7">
        <h2>Kennels</h2>
      </div>
      <div class="col-md-5 header-buttons">
        <a (click)="openApplications()" class="btn btn-primary"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          Applications</a>
        <a (click)="onAddNew()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          Add New Kennel</a>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Kennel name</th>
        <th>Breeder</th>
        <th>Address</th>
        <th>Breed</th>
        <th>Action</th>
      </tr>
      </thead>

      <tr *ngIf="!hasKennels">
        <td><em>There are no kennels in database</em></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr *ngFor="let kennel of kennels; let i = index">
        <td>{{i + 1 }}</td>
        <td>{{kennel.name | titlecase }}</td>
        <td>{{kennel.user}}</td>
        <td>{{kennel.address}}</td>
        <td>{{kennel.breeds[0].breedNameEng | titlecase }}</td>
        <td>
          <a class="info" tooltip="Details" (click)="onDetailsKennel(kennel.kennelId)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
          <a class="edit" tooltip="Edit" (click)="onEditKennel(kennel.kennelId)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
        </td>
      </tr>

    </table>
  </div>
</div>

